<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="citu.teknoybuyandselladmin" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".DashboardActivity"
            android:label="@string/title_activity_dashboard" >
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NotificationsActivity"
            android:label="@string/title_activity_notifications" >
        </activity>
        <activity
            android:name=".ReservedItemsActivity"
            android:label="@string/title_activity_reserved_items" >
        </activity>
        <activity
            android:name=".ItemsOnQueueActivity"
            android:label="@string/title_activity_items_on_queue" >

        </activity>
        <activity
            android:name=".DonationsActivity"
            android:label="@string/title_activity_donations" >
        </activity>
        <activity
            android:name=".QueueItemDetailActivity"
            android:label="@string/title_activity_queue_item_detail" >
        </activity>
        <activity
            android:name=".DonationsDetailActivity"
            android:label="@string/title_activity_donations_detail" >
        </activity>
        <activity
            android:name=".TransactionsActivity"
            android:label="@string/title_activity_transactions" >
        </activity>
        <activity
            android:name=".AddCategoryActivity"
            android:label="@string/title_activity_add_category" >
        </activity>
        <activity
            android:name=".ReservedDetailActivity"
            android:label="@string/title_activity_reserved_detail" >
        </activity>
    </application>

</manifest>
